.comments {
  overflow-y: auto;
  word-break: break-word;
  max-height: 300px;
}

.single.comments{
  padding: 0px;
}


.comments li {
  margin-bottom: 0.5rem;
  line-height: 1.2;
  padding: .5rem;
}
